*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}
nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav li {
    height: 50px;
}

nav a {
    display: flex;
    padding: 0 30px;
    align-items: center;
    color: black;
    height: 100%;
    text-decoration: none;
}

nav a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}